.player-group {
  bottom: 0%;
  display: flex;
  left: 0%;
  position: absolute;

  .table {
    border-collapse: collapse;
    text-align: center;

    tr {
      th {
        color: #fff;
        font-weight: normal;
        min-width: 120px;
        padding: 0.5rem 0.8rem;
      }

      td {
        color: #fec200;
        padding: 0.5rem 0.8rem;
      }

      &:nth-child(odd) td,
      &:nth-child(odd) th {
        background-color: #36485b;
      }

      &:nth-child(even) td,
      &:nth-child(even) th {
        background-color: #3d4c60;
      }

      &:first-child th {
        /* 左上 */

        /* border-top-left-radius: 6px; */
      }

      &:first-child td {
        /* 右上 */
        border-top-right-radius: 6px;
      }

      &:last-child th {
        /* 左下 */

        /* border-bottom-left-radius: 6px; */
      }

      &:last-child td {
        /* 右下 */

        /* border-bottom-right-radius: 6px; */
      }
    }
  }

  .table-hero {
    border-collapse: collapse;
    margin-top: 2rem;
    text-align: center;

    tr {
      th {
        color: #fff;
        font-weight: normal;
        min-width: 120px;
        padding: 0.5rem 0.8rem;
      }

      td {
        color: #fec200;
        padding: 0.5rem 0.8rem;
      }

      &:nth-child(odd) td,
      &:nth-child(odd) th {
        background-color: #3d4c60;
      }

      &:nth-child(even) td,
      &:nth-child(even) th {
        background-color: #36485b;
      }
    }
  }
}
