<div class="player-group">

  <!-- 英雄基礎能力  -->
  <table class="table">
    <tbody>
      <tr>
        <th>{{ 'PLAYER.UnitName' | translate }}</th>
        <td>織田信長</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentMoveSpeed' | translate }}</th>
        <td>300</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentHP' | translate }}</th>
        <td>1000</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentMP' | translate }}</th>
        <td>500</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentAttackSpeed' | translate }}</th>
        <td>120</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentAttack' | translate }}</th>
        <td>80</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentArmor' | translate }}</th>
        <td>10</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentAttackRange' | translate }}</th>
        <td>20</td>
      </tr>
    </tbody>
  </table>

  <!-- 英雄附加能力 -->
  <table class="table-hero">
    <tbody>
      <tr>
        <th>{{ 'PLAYER.Strength' | translate }}</th>
        <td>{{ hero.Strength }}({{ hero.AdditionStrength }})</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.Agility' | translate }}</th>
        <td>{{ hero.Agility }}({{ hero.AdditionAgility }})</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.Intelligence' | translate }}</th>
        <td>{{ hero.Intelligence }}({{ hero.AdditionIntelligence }})</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentLevel' | translate }}</th>
        <td>{{ hero.CurrentLevel }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentEXP' | translate }}</th>
        <td>{{ hero.CurrentEXP }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.BountyEXP' | translate }}</th>
        <td>{{ hero.BountyEXP }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.DeadTime' | translate }}</th>
        <td>{{ hero.DeadTime }}</td>
      </tr>
    </tbody>
  </table>

</div>
