<div class="player-group">

  <!-- 英雄基礎能力  -->
  <table class="table">
    <tbody>
      <tr>
        <th>{{ 'PLAYER.UnitName' | translate }}</th>
        <td>{{ player.UnitName }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentMoveSpeed' | translate }}</th>
        <td>{{ player.CurrentMoveSpeed }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentHP' | translate }}</th>
        <td>{{ player.CurrentHP }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentMP' | translate }}</th>
        <td>{{ player.CurrentMP }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentAttackSpeed' | translate }}</th>
        <td>{{ player.CurrentAttackSpeed }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentAttack' | translate }}</th>
        <td>{{ player.CurrentAttack }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentArmor' | translate }}</th>
        <td>{{ player.CurrentArmor }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentAttackRange' | translate }}</th>
        <td>{{ player.CurrentAttackRange }}</td>
      </tr>
    </tbody>
  </table>

  <!-- 英雄附加能力 -->
  <table class="table-hero">
    <tbody>
      <tr>
        <th>{{ 'PLAYER.Strength' | translate }}</th>
        <td>{{ hero.Strength }}({{ hero.AdditionStrength }})</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.Agility' | translate }}</th>
        <td>{{ hero.Agility }}({{ hero.AdditionAgility }})</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.Intelligence' | translate }}</th>
        <td>{{ hero.Intelligence }}({{ hero.AdditionIntelligence }})</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentLevel' | translate }}</th>
        <td>{{ hero.CurrentLevel }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.CurrentEXP' | translate }}</th>
        <td>{{ hero.CurrentEXP }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.BountyEXP' | translate }}</th>
        <td>{{ hero.BountyEXP }}</td>
      </tr>
      <tr>
        <th>{{ 'PLAYER.DeadTime' | translate }}</th>
        <td>{{ hero.DeadTime }}</td>
      </tr>
    </tbody>
  </table>

</div>
