.skill-group {
  bottom: 0;
  left: 35%;
  padding-top: 1.5rem;
  position: absolute;
  right: 40%;
  width: 30%;

  .skill-panel {
    background-color: #282a36;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0.6rem;

    .progress {
      /* overwrite progress-bars.scss */
      margin-top: 0.6rem;
    }

    .skill-list {
      background-color: #44475a;
      border-radius: 6px;
      padding: 0.6rem 0.6rem 0.4rem;

      >div {
        display: inline-block;
        margin-right: 0.4rem;
        position: relative;
        width: 50px;

        .skill-up {
          background-image: url('/assets/plus.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          border-radius: 4px;
          height: 40px;
          opacity: 1;

          /* 技能升級按鈕 */
          position: absolute;
          top: -60%;
          transition: all 0.2s ease-in-out;
          width: 40px;
          z-index: 2;

          &.disable {
            /* visibility: hidden; */
            display: none;
            opacity: 0;
            top: -50%;
          }

        }

        .skill-level {
          background-color: #2d3032;
          border: 1px solid #2d3032;
          border-radius: 2px;

          /* 技能等級 */
          display: flex;
          height: 12px;
          margin-top: 0.4rem;
          max-width: 50px;
          padding: 0.6px;

          .skill-level-current {
            background-color: #00001b;

            /* 技能當前等級 */
            flex: 4;
            height: inherit;
            margin: 0 1px;

            &.valid {
              background: linear-gradient(0deg, #b18a00 27%, #ffd339 67%);
              background: -moz-linear-gradient(0deg, #b18a00 27%, #ffd339 67%);
              background: -webkit-linear-gradient(0deg, #b18a00 27%, #ffd339 67%);
              background: -o-linear-gradient(0deg, #b18a00 27%, #ffd339 67%);
            }
          }
        }
      }
    }
  }
}
