<div class="skill-group">
  <div class="skill-panel">
    <div class="skill-list">
      <div key="skill-1">
        <div class="skill-up"></div>
        <app-skill-cd></app-skill-cd>
        <div class="skill-level">
          <div class="skill-level-current valid"></div>
          <div class="skill-level-current valid"></div>
          <div class="skill-level-current valid"></div>
          <div class="skill-level-current valid"></div>
          <div class="skill-level-current"></div>
        </div>
      </div>
      <div key="skill-2">
        <div class="skill-up"></div>
        <app-skill-cd></app-skill-cd>
        <div class="skill-level">
          <div class="skill-level-current valid"></div>
          <div class="skill-level-current valid"></div>
          <div class="skill-level-current"></div>
          <div class="skill-level-current"></div>
        </div>
      </div>
    </div>
    <app-player-life></app-player-life>
  </div>
</div>
