<div class="skill-group">
  <div class="skill-panel">
    <div class="skill-list">

      <!-- 英雄技能 -->
      <div *ngFor="let skill of skills">
        <!-- 技能可否升級 -->
        <div *ngIf="skill.CanLevelUp" class="skill-up"></div>
        <!-- 技能冷卻 -->
        <app-skill-cd *ngIf="skill.Display" [skill]="skill"></app-skill-cd>
        <!-- 技能等級 -->
        <div class="skill-level">
          <div class="skill-level-current" [class.valid]="valid" *ngFor="let valid of skill.LevelValid"></div>
        </div>
      </div>

    </div>

    <!-- 玩家生命與魔力 -->
    <app-player-life></app-player-life>
  </div>
</div>
