/*
progress-bars
說明: 英雄的血條魔力顯示
範例:
<div class="progress">
  <div class="progress-text">100 / 100</div>
  <div class="progress-bar progress-bar-danger progress-bar-under"></div>
  <div class="progress-bar progress-bar-success"></div>
</div>
*/

$default: #01438e;
$success: #006a05;
$danger: #880e14;
$info: #04c7fb;

/* theme */

.progress {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 1rem;
  background-color: #222;

  .progress-text {
    font-size: 0.8rem;
    color: #e5e5e5;
    z-index: 3;
    text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444;
    line-height: 1rem;
  }

  .progress-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: inherit;
    background: linear-gradient(90deg, #01438e 26%, #149df1 100%);
    background: -moz-linear-gradient(90deg, #01438e 26%, #149df1 100%);
    background: -webkit-linear-gradient(90deg, #01438e 26%, #149df1 100%);
    background: -o-linear-gradient(90deg, #01438e 26%, #149df1 100%);
  }

  .progress-bar-success {
    background: linear-gradient(90deg, #006a05 26%, #0b0 100%);
    background: -moz-linear-gradient(90deg, #006a05 26%, #0b0 100%);
    background: -webkit-linear-gradient(90deg, #006a05 26%, #0b0 100%);
    background: -o-linear-gradient(90deg, #006a05 26%, #0b0 100%);
  }

  .progress-bar-danger {
    background: linear-gradient(90deg, #880e14 26%, #b70907 100%);
    background: -moz-linear-gradient(90deg, #880e14 26%, #b70907 100%);
    background: -webkit-linear-gradient(90deg, #880e14 26%, #b70907 100%);
    background: -o-linear-gradient(90deg, #880e14 26%, #b70907 100%);
  }

  .progress-bar-info {
    background: linear-gradient(90deg, #04c7fb 26%, #3ff4ff 100%);
    background: -moz-linear-gradient(90deg, #04c7fb 26%, #3ff4ff 100%);
    background: -webkit-linear-gradient(90deg, #04c7fb 26%, #3ff4ff 100%);
    background: -o-linear-gradient(90deg, #04c7fb 26%, #3ff4ff 100%);
  }

  /* 底層動畫 */
  .progress-bar-under {
    transition: all 0.5s ease-in-out;
  }

}
