<div class="player-group">

  <!-- 英雄基礎能力  -->
  <table class="table">
    <tbody>
      <tr>
        <th>{{ 'UnitName' | translate }}</th>
        <td>UnitName</td>
      </tr>
      <tr>
        <th>{{ 'CurrentMoveSpeed' | translate }}</th>
        <td>CurrentMoveSpeed</td>
      </tr>
      <tr>
        <th>{{ 'CurrentHP' | translate }}</th>
        <td>CurrentHP</td>
      </tr>
      <tr>
        <th>{{ 'CurrentMP' | translate }}</th>
        <td>CurrentMP</td>
      </tr>
      <tr>
        <th>{{ 'CurrentAttackSpeed' | translate }}</th>
        <td>CurrentAttackSpeed</td>
      </tr>
      <tr>
        <th>{{ 'CurrentAttack' | translate }}</th>
        <td>CurrentAttack</td>
      </tr>
      <tr>
        <th>{{ 'CurrentArmor' | translate }}</th>
        <td>CurrentArmor</td>
      </tr>
      <tr>
        <th>{{ 'CurrentAttackRange' | translate }}</th>
        <td>CurrentAttackRange</td>
      </tr>
    </tbody>
  </table>

  <!-- 英雄附加能力 -->
  <table class="table-hero">
    <tbody>
      <tr>
        <th>{{ 'Strength' | translate }}</th>
        <td>Strength</td>
      </tr>
      <tr>
        <th>{{ 'Agility' | translate }}</th>
        <td>Agility</td>
      </tr>
      <tr>
        <th>{{ 'Intelligence' | translate }}</th>
        <td>Intelligence</td>
      </tr>
      <tr>
        <th>{{ 'CurrentLevel' | translate }}</th>
        <td>CurrentLevel</td>
      </tr>
      <tr>
        <th>{{ 'CurrentEXP' | translate }}</th>
        <td>CurrentEXP</td>
      </tr>
      <tr>
        <th>{{ 'BountyEXP' | translate }}</th>
        <td>BountyEXP</td>
      </tr>
      <tr>
        <th>{{ 'DeadTime' | translate }}</th>
        <td>DeadTime</td>
      </tr>
    </tbody>
  </table>

</div>
