.player-group {
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;

  .table {
    text-align: center;
    border-collapse: collapse;

    tr {
      th {
        padding: 0.5rem 0.8rem;
        min-width: 120px;
        color: #fff;
        font-weight: normal;
      }
      td {
        padding: 0.5rem 0.8rem;
        color: #fec200;
      }
      &:nth-child(odd) td,
      &:nth-child(odd) th {
        background-color: #36485b;
      }
      &:nth-child(even) td,
      &:nth-child(even) th {
        background-color: #3d4c60;
      }
      &:first-child th {
        /* 左上 */
        /* border-top-left-radius: 6px; */
      }
      &:first-child td {
        /* 右上 */
        border-top-right-radius: 6px;
      }
      &:last-child th {
        /* 左下 */
        /* border-bottom-left-radius: 6px; */
      }
      &:last-child td {
        /* 右下 */
        /* border-bottom-right-radius: 6px; */
      }
    }
  }

  .table-hero {
    margin-top: 2rem;
    text-align: center;
    border-collapse: collapse;
    tr {
      th {
        padding: 0.5rem 0.8rem;
        min-width: 120px;
        color: #fff;
        font-weight: normal;
      }
      td {
        padding: 0.5rem 0.8rem;
        color: #fec200;
      }
      &:nth-child(odd) td,
      &:nth-child(odd) th {
        background-color: #3d4c60;
      }
      &:nth-child(even) td,
      &:nth-child(even) th {
        background-color: #36485b;
      }
    }
  }
}
