<div>
  <div class="progress">
    <div class="progress-text">{{ player.CurrentHP }} / {{ player.CurrentMaxHP }}</div>
    <div class="progress-bar progress-bar-danger progress-bar-under" style="width: 55%"></div>
    <div class="progress-bar progress-bar-success" style="width: 45%"></div>
  </div>
  <div class="progress">
    <div class="progress-text">{{ player.CurrentMP }} / {{ player.CurrentMaxMP }}</div>
    <div class="progress-bar progress-bar-info progress-bar-under" style="width: 85%"></div>
    <div class="progress-bar" style="width: 80%"></div>
  </div>
</div>
