<div>
  <div class="progress">
    <div class="progress-text">{{ player.CurrentHP }} / {{ player.CurrentMaxHP }}</div>
    <div class="progress-bar progress-bar-danger progress-bar-under" [ngStyle]="renderHP()"></div>
    <div class="progress-bar progress-bar-success" [ngStyle]="renderHP()"></div>
  </div>
  <div class="progress">
    <div class="progress-text">{{ player.CurrentMP }} / {{ player.CurrentMaxMP }}</div>
    <div class="progress-bar progress-bar-info progress-bar-under" [ngStyle]="renderMP()"></div>
    <div class="progress-bar" [ngStyle]="renderMP()"></div>
  </div>
</div>
