.select-group {
  display: block;
  position: relative;;
  line-height: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  button {
    padding: .3rem 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: .2rem;
    outline: none;
    transition: all .2s ease-in-out;

    &:hover {
      border: 1px solid #aaa;
      background-color: rgba(0, 0, 0, .05);
    }

    &:focus +.menu {
      display: block;
    }

    span {
      display: flex;

      .ng-fa-icon {
        margin-right: .25rem;
      }
    }
  }

  .menu {
    z-index: 1000;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: .5rem 0;
    min-width: 150px;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #bbb;
    background-clip: padding-box;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    &:active {
      display: block;
    }

    .item {
      padding: .2rem 1.5rem;
      font-size: 13px;

      &:hover {
        background-color: #eee;
      }

      .ng-fa-icon {
        margin-right: .5rem;
        color: #5ccfe8;
        font-size: 12px;
        visibility: hidden;

        &.check {
          visibility: visible;
        }
      }
    }
  }
}
