.select-group {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 20px;

  button {
    padding: 0.3rem 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    outline: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      border: 1px solid #aaa;
    }

    &:focus +.menu {
      display: block;
    }

    span {
      display: flex;

      .ng-fa-icon {
        margin-right: 0.25rem;
      }
    }
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin: 0;
    padding: 0.5rem 0;
    min-width: 150px;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bbb;
    list-style: none;
    z-index: 1000;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    &:active {
      display: block;
    }

    .item {
      padding: 0.2rem 1.5rem;
      font-size: 13px;

      &:hover {
        background-color: #eee;
      }

      .ng-fa-icon {
        margin-right: 0.5rem;
        font-size: 12px;
        color: #5ccfe8;
        visibility: hidden;

        &.check {
          visibility: visible;
        }
      }
    }
  }
}
